<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.payment.mapper.operation.PlatingLineElementMapper">
    <select id="findCurrentValuesByAssetCode"
            resultType="org.payment.domain.operation.OperationMetricRow">
        SELECT
            `${typeIndexColumn}` AS typeIndex,
            `${valueColumn}` AS value
        FROM
        <choose>
            <when test="schemaName != null and schemaName != ''">
                `${schemaName}`.`${tableName}`
            </when>
            <otherwise>
                `${tableName}`
            </otherwise>
        </choose>
        WHERE `${assetCodeColumn}` = #{assetCode}
          AND `${typeIndexColumn}` IN
          <foreach collection="typeIndexes" item="typeIndex" open="(" separator="," close=")">
              #{typeIndex}
          </foreach>
    </select>
</mapper>
